<center><img src="https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/05/e7/67/05e76784-3364-b535-7e20-b3f4946a56b6/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/434x0w.webp" style="height:150px"></center>

# Introduction

Vous êtes un groupe d'hackers malveillants qui a pu récupérer des données clients d'une compagnie d'assurance. Cette compagnie d'assurance a de très mauvaises pratiques de protection des données et les données que vous avez réussi à récupérer contiennent des informations extrêmement sensibles comme le numéro de carte de crédit du client.

Néanmoins, ces données ne contiennent pas le nom et prénom de la personne, informations indispensables pour utiliser leur carte de crédit pour faire des achats sur Internet, vous devez donc trouver cette information autre part.

Afin de remédier à ce problème, vous avez réussi à hacker les données du gouvernement regroupant tous les foyers fiscaux de France, ce qui vous permettrait d'identifier les clients de la compagnie d'assurance si vous êtes malins. Un hacker de votre équipe a réussi à filtrer les foyers fiscaux pour qu'ils ne contiennent que les foyers des clients de l'assurance, ce qui vous simplifiera la tâche plus tard.

# Données

Vous disposez de trois jeux de données : 
* `"clients_exo.csv"` : Les données client volées de la compagnie d'assurance.
* `"foyers_df.csv"`: Les données des foyers fiscaux filtrées pour ne contenir que les foyers des clients de l'assurance.
* `"foyers_zipcode.json"` : Un dictionnaire vous permettant de relier un foyer fiscal au département dans lequel le foyer réside.


# Objectif

À l'aide des jeux de données fournis et de votre intelligence, vous devez matcher les numéros de carte de crédit des clients avec leur nom et prénom présents dans les données de foyers fiscaux.

Vous devez nous rendre un fichier csv dont la structure est la suivante:

|    | CreditCardNumber    | FullName          |
|---:|:--------------------|:------------------|
|  0 | 1111-2222-3333-4444 | Pierre Adeikalam  |
|  1 | 2222-1111-3333-4444 | Ahmed Besbes      |
|  2 | 3333-1111-2222-4444 | Benjamin Lebreton |
|  3 | 2222-2222-2222-2222 | Léa Couturier     |
|  4 | 1234-5678-9012-3456 | Nadir Abdou       |

À vous de jouer!

In [24]:
import pandas as pd
import json

clients_exo = pd.read_csv("clients_exo.csv")
foyers_df = pd.read_csv("foyers_df.csv")

with open("foyers_zipcode.json", "r") as f:
    foyers_zipcode = json.load(f)

In [25]:
foyers_df

       foyer_id            FullName DateOfBirth
0             0         Célina Roux  1975-10-01
1             1  Antoinette Bonneau  1989-02-24
2             1       Robert Bonnin  2022-11-13
3             2   Maurice Couturier  1955-06-04
4             2     Michelle Hoarau  1959-07-12
...         ...                 ...         ...
32292     12381  Jacqueline Perrier  1990-06-20
32293     12381     Xavier Fontaine  1993-09-26
32294     12381   Éléonore Fontaine  2012-10-21
32295     12382          Lucas Blin  1978-11-30
32296     12382       Michelle Blin  2020-03-05

[32297 rows x 3 columns]

In [26]:
clients_exo

,Married,NumberOfChildren,Address,CreditCardNumber,CreditCardExpirationDate,CreditCardCVC,DrivingLicenseDateObtained,DrivingLicenseAgeObtained
0,False,1,"646, boulevard de Munoz\r\n65761 Sainte Manon",2016-3231-5846-1119,4/25,957,2010-10-11,47.318275
1,False,0,rue Denis Maurice\r\n38494 Sainte Margot,4948-7746-5283-4627,9/24,626,1997-09-08,41.746749
2,False,2,boulevard Michelle Dupont\r\n14965 Nicolas-les...,2412-5676-4101-9638,5/24,139,2009-10-18,35.299110
3,True,2,"4, rue de Launay\r\n17389 Paul-les-Bains",4256-5129-1543-6145,9/24,748,1987-12-29,20.027379
4,True,1,"97, rue de Bertrand\r\n53561 Lopes",6842-1235-2306-5811,11/24,470,2016-11-21,31.997262
...,...,...,...,...,...,...,...,...
12378,False,1,chemin de Weiss\r\n92576 Gimenez,7880-2861-6329-5755,4/25,478,2004-03-05,19.383984
12379,False,1,"31, avenue de Gomez\r\n87882 Schmitt",7681-8792-5636-8059,8/24,661,2010-03-01,36.440794
12380,True,2,"16, avenue de Guillou\r\n87459 Chevalier",4593-1884-1164-6668,7/24,726,2018-01-04,34.417522
12381,True,0,"5, rue Deschamps\r\n37720 Cohen",5502-8754-4385-7920,12/25,716,2014-01-14,21.106092
12382,False,3,"65, chemin de Rolland\r\n77791 Gautier",9937-1115-6967-2894,7/25,382,2004-12-09,22.809035

In [27]:
foyers_zipcode.keys()

dict_keys(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '97'])

In [28]:
# add zip code to clients_exo from address
def get_zipcode(address):
    return address.split("\n")[1][:2]
clients_exo["zipcode"] = clients_exo["Address"].apply(get_zipcode)

clients_exo

,Married,NumberOfChildren,Address,CreditCardNumber,CreditCardExpirationDate,CreditCardCVC,DrivingLicenseDateObtained,DrivingLicenseAgeObtained,zipcode
0,False,1,"646, boulevard de Munoz\r\n65761 Sainte Manon",2016-3231-5846-1119,4/25,957,2010-10-11,47.318275,65
1,False,0,rue Denis Maurice\r\n38494 Sainte Margot,4948-7746-5283-4627,9/24,626,1997-09-08,41.746749,38
2,False,2,boulevard Michelle Dupont\r\n14965 Nicolas-les...,2412-5676-4101-9638,5/24,139,2009-10-18,35.299110,14
3,True,2,"4, rue de Launay\r\n17389 Paul-les-Bains",4256-5129-1543-6145,9/24,748,1987-12-29,20.027379,17
4,True,1,"97, rue de Bertrand\r\n53561 Lopes",6842-1235-2306-5811,11/24,470,2016-11-21,31.997262,53
...,...,...,...,...,...,...,...,...,...
12378,False,1,chemin de Weiss\r\n92576 Gimenez,7880-2861-6329-5755,4/25,478,2004-03-05,19.383984,92
12379,False,1,"31, avenue de Gomez\r\n87882 Schmitt",7681-8792-5636-8059,8/24,661,2010-03-01,36.440794,87
12380,True,2,"16, avenue de Guillou\r\n87459 Chevalier",4593-1884-1164-6668,7/24,726,2018-01-04,34.417522,87
12381,True,0,"5, rue Deschamps\r\n37720 Cohen",5502-8754-4385-7920,12/25,716,2014-01-14,21.106092,37
12382,False,3,"65, chemin de Rolland\r\n77791 Gautier",9937-1115-6967-2894,7/25,382,2004-12-09,22.809035,77

In [29]:
foyers_df['zipcode'] = None

for curr_zipcode, foyer_list in foyers_zipcode.items():
    for house_id in foyer_list:
        foyers_df.loc[foyers_df["foyer_id"] == house_id, "zipcode"] = curr_zipcode

foyers_df

       foyer_id            FullName DateOfBirth zipcode
0             0         Célina Roux  1975-10-01      36
1             1  Antoinette Bonneau  1989-02-24      68
2             1       Robert Bonnin  2022-11-13      68
3             2   Maurice Couturier  1955-06-04      30
4             2     Michelle Hoarau  1959-07-12      30
...         ...                 ...         ...     ...
32292     12381  Jacqueline Perrier  1990-06-20      39
32293     12381     Xavier Fontaine  1993-09-26      39
32294     12381   Éléonore Fontaine  2012-10-21      39
32295     12382          Lucas Blin  1978-11-30      97
32296     12382       Michelle Blin  2020-03-05      97

[32297 rows x 4 columns]

In [30]:
def float_age_to_years_months_days(float_age):
    # Convert the floating-point age to years, months, and days
    years, remainder = divmod(float_age, 365.25)  # Taking into account leap years
    months, days = divmod(remainder, 30.44)  # Assuming an average month length of 30.44 days

    # Convert to integers
    years = int(years)
    months = int(months)
    days = int(days)

    return years, months, days

# get the birth year 

clients_exo["birth_year"] = clients_exo.apply(lambda row: int(row["DrivingLicenseDateObtained"].split("-")[0]) - row["DrivingLicenseAgeObtained"], axis=1)

clients_exo["date"] = pd.to_datetime(clients_exo["DrivingLicenseDateObtained"])

clients_exo["birth_year"] = clients_exo["birth_year"].astype(int)
clients_exo.head()

# get the age from DrivingLicenseDateObtained and DrivingLicenseAgeObtained

,Married,NumberOfChildren,Address,CreditCardNumber,CreditCardExpirationDate,CreditCardCVC,DrivingLicenseDateObtained,DrivingLicenseAgeObtained,zipcode,birth_year,date
0,False,1,"646, boulevard de Munoz\r\n65761 Sainte Manon",2016-3231-5846-1119,4/25,957,2010-10-11,47.318275,65,1962,2010-10-11
1,False,0,rue Denis Maurice\r\n38494 Sainte Margot,4948-7746-5283-4627,9/24,626,1997-09-08,41.746749,38,1955,1997-09-08
2,False,2,boulevard Michelle Dupont\r\n14965 Nicolas-les...,2412-5676-4101-9638,5/24,139,2009-10-18,35.299110,14,1973,2009-10-18
3,True,2,"4, rue de Launay\r\n17389 Paul-les-Bains",4256-5129-1543-6145,9/24,748,1987-12-29,20.027379,17,1966,1987-12-29
4,True,1,"97, rue de Bertrand\r\n53561 Lopes",6842-1235-2306-5811,11/24,470,2016-11-21,31.997262,53,1984,2016-11-21

In [32]:
from datetime import datetime, timedelta

def calculate_birth_date(driving_license_date, driving_license_age):
    # Convert the driving license date to a datetime object
    license_date = datetime.strptime(driving_license_date, '%Y-%m-%d')

    # Calculate the birth date by subtracting the age from the license acquisition date
    birth_date = license_date - timedelta(days=365 * driving_license_age)

    # Format the birth date as YYYY-MM-DD
    formatted_birth_date = birth_date.strftime('%Y-%m-%d')

    return formatted_birth_date

clients_exo["birth_year"] = clients_exo.apply(lambda row: calculate_birth_date(row["DrivingLicenseDateObtained"], row["DrivingLicenseAgeObtained"]), axis=1)

clients_exo.head()

,Married,NumberOfChildren,Address,CreditCardNumber,CreditCardExpirationDate,CreditCardCVC,DrivingLicenseDateObtained,DrivingLicenseAgeObtained,zipcode,birth_year,date
0,False,1,"646, boulevard de Munoz\r\n65761 Sainte Manon",2016-3231-5846-1119,4/25,957,2010-10-11,47.318275,65,1963-06-28,2010-10-11
1,False,0,rue Denis Maurice\r\n38494 Sainte Margot,4948-7746-5283-4627,9/24,626,1997-09-08,41.746749,38,1955-12-20,1997-09-08
2,False,2,boulevard Michelle Dupont\r\n14965 Nicolas-les...,2412-5676-4101-9638,5/24,139,2009-10-18,35.299110,14,1974-07-09,2009-10-18
3,True,2,"4, rue de Launay\r\n17389 Paul-les-Bains",4256-5129-1543-6145,9/24,748,1987-12-29,20.027379,17,1967-12-24,1987-12-29
4,True,1,"97, rue de Bertrand\r\n53561 Lopes",6842-1235-2306-5811,11/24,470,2016-11-21,31.997262,53,1984-11-29,2016-11-21

In [37]:
foyers_df['DateOfBirth'] = pd.to_datetime(foyers_df['DateOfBirth'])

filtered_df = foyers_df[foyers_df['DateOfBirth'].dt.date == pd.to_datetime('2009-10-18').date()]

print(filtered_df)

       foyer_id         FullName DateOfBirth zipcode
1663        656   Benjamin Peron  2009-10-18      65
7822       3006     Élodie Weiss  2009-10-18      58
22468      8623  Aurore Gaillard  2009-10-18      05
25462      9759    Jeanne Bertin  2009-10-18      47

In [43]:
clients_exo.head()

,Married,NumberOfChildren,Address,CreditCardNumber,CreditCardExpirationDate,CreditCardCVC,DrivingLicenseDateObtained,DrivingLicenseAgeObtained,zipcode,birth_year,date
0,False,1,"646, boulevard de Munoz\r\n65761 Sainte Manon",2016-3231-5846-1119,4/25,957,2010-10-11,47.318275,65,1963-06-28,2010-10-11
1,False,0,rue Denis Maurice\r\n38494 Sainte Margot,4948-7746-5283-4627,9/24,626,1997-09-08,41.746749,38,1955-12-20,1997-09-08
2,False,2,boulevard Michelle Dupont\r\n14965 Nicolas-les...,2412-5676-4101-9638,5/24,139,2009-10-18,35.299110,14,1974-07-09,2009-10-18
3,True,2,"4, rue de Launay\r\n17389 Paul-les-Bains",4256-5129-1543-6145,9/24,748,1987-12-29,20.027379,17,1967-12-24,1987-12-29
4,True,1,"97, rue de Bertrand\r\n53561 Lopes",6842-1235-2306-5811,11/24,470,2016-11-21,31.997262,53,1984-11-29,2016-11-21

In [46]:
clients_exo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12383 entries, 0 to 12382
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Married                     12383 non-null  bool
 1   NumberOfChildren            12383 non-null  int64
 2   Address                     12383 non-null  object
 3   CreditCardNumber            12383 non-null  object
 4   CreditCardExpirationDate    12383 non-null  object
 5   CreditCardCVC               12383 non-null  int64
 6   DrivingLicenseDateObtained  12383 non-null  object
 7   DrivingLicenseAgeObtained   12383 non-null  float64
 8   zipcode                     12383 non-null  int32
 9   birth_year                  12383 non-null  object
 10  date                        12383 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(1), int32(1), int64(2), object(5)
memory usage: 931.3+ KB

In [55]:
foyers_df.info()

clients_exo["birth_year"] = pd.to_datetime(clients_exo["birth_year"])

foyers_df.groupby("foyer_id")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32297 entries, 0 to 32296
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   foyer_id     32297 non-null  int64
 1   FullName     32297 non-null  object
 2   DateOfBirth  32297 non-null  datetime64[ns]
 3   zipcode      32297 non-null  int32
 4   birth_year   32297 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int32(1), int64(1), object(1)
memory usage: 1.1+ MB

In [61]:
# join clients_exo and foyers_df on zipcode and birth_year

clients_exo["zipcode"] = clients_exo["zipcode"].astype(int)
foyers_df["zipcode"] = foyers_df["zipcode"].astype(int)

clients_exo_foyers = clients_exo.merge(foyers_df, on=["birth_year", "zipcode"])

clients_exo_foyers

,Married,NumberOfChildren,Address,CreditCardNumber,CreditCardExpirationDate,CreditCardCVC,DrivingLicenseDateObtained,DrivingLicenseAgeObtained,zipcode,birth_year,date,foyer_id,FullName,DateOfBirth
0,True,1,"9, chemin Audrey Fleury\r\n30906 Barbe",9173-4456-4276-7457,4/25,610,2015-07-01,33.081451,30,1982-06-09,2015-07-01,1637,René Meunier,1982-06-09
1,False,1,"72, rue de Pasquier\r\n92525 Dumas-sur-Mathieu",7285-2343-4774-7123,11/25,614,2011-09-13,19.156742,92,1992-07-21,2011-09-13,5364,Dominique Lambert,1992-07-21
2,False,1,"26, chemin de Gautier\r\n30540 Lombard",2987-5179-6304-4593,2/25,906,1992-10-06,24.528405,30,1968-04-02,1992-10-06,10139,Mathilde Ribeiro,1968-04-02
3,True,0,"3, avenue Anouk Huet\r\n26761 Huet",5192-8496-1573-5866,4/24,718,2018-10-24,27.997262,26,1990-10-31,2018-10-24,6961,Alexandria Bonneau,1990-10-31
4,False,0,"3, boulevard Claire Gomez\r\n87213 Turpinboeuf",7342-7353-6469-4702,3/25,860,2013-01-13,18.453114,87,1994-08-05,2013-01-13,1857,Marine Cousin,1994-08-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,True,1,"489, rue de Marie\r\n87815 Guillot",7054-6099-4398-5860,11/25,610,2018-08-25,25.158111,87,1993-07-04,2018-08-25,725,Gabriel Leroux,1993-07-04
213,False,2,"98, rue Imbert\r\n77879 Garnier",7059-9593-6434-8871,6/24,206,2016-08-25,48.224504,77,1968-06-16,2016-08-25,11005,Pierre Ribeiro,1968-06-16
214,False,0,"7, avenue Boulay\r\n48251 Saint Richard-la-Forêt",5033-9497-8350-6914,7/24,36,2018-09-29,57.902806,48,1960-11-17,2018-09-29,4567,Corinne Baron,1960-11-17
215,False,1,"8, chemin Legros\r\n22767 Bonnin",7840-2463-9215-3357,12/25,19,2017-12-28,21.368925,22,1996-08-20,2017-12-28,3003,Louis Fleury,1996-08-20
216,False,0,"5, boulevard de Maillet\r\n80309 Joly",3977-9291-8655-1945,7/25,692,2021-10-13,63.345654,80,1958-06-24,2021-10-13,6895,Hugues Masse,1958-06-24

In [65]:
# drop all the columns except credit card number and name

clients_exo_foyers = clients_exo_foyers[["CreditCardNumber", "FullName"]]

clients_exo_foyers

# export to csv

clients_exo_foyers.to_csv("clients_exo_foyers.csv")